<div class="modal fade" id="new" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Add Note</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="/new">
        <div class="modal-body">
            <div class="row">
                <label for="validationDefaultUsername" class="form-label">Title</label>
                <div class="input-group">
                  <input type="text" placeholder="Title" name="title" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2"
                  required>
                </div>
              </div>
              <div class="row">
                <label for="floatingTextarea2" class="form-label">Description</label>
                <textarea class="form-control" placeholder="Description" style="height: 100px; margin: auto; width: 94%;" name="description" required></textarea>
                
              </div>
              <div class="row">
                <label for="validationDefaultUsername" class="form-label">Password (Optional)</label>
                <div class="input-group">
                  <input type="password" placeholder="Password" name="password" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2">
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" name="submit" value="pwd">Save the note with entered password</button>
          <button class="btn btn-primary" type="submit" name="submit" value="auto">Save the note with random password sent via mail</button>
        </div>
    </form>
      </div>
    </div>
  </div>
  